@using NinaSpeakV2.Domain.ViewModels.Users
@model ReadUserViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>        
    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> | *@
    @* <a asp-action="Delete" asp-route-id="@Model.Id">Deletar</a> | *@
    <a asp-action="Index">Voltar</a>
    @* <a asp-controller="Home" asp-action="Index">Voltar</a> *@
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
