@using NinaSpeakV2.Api.Extensions
@using NinaSpeakV2.Api.Utils
@using NinaSpeakV2.Domain.ViewModels.Users
@model ReadUserViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h1 class="text-center mb-4"><i class="fa fa-street-view"></i> @Model.Email</h1>
    <div class="card shadow-sm">
        <div class="card-header text-center">
            <h4 class="mb-0">Ações</h4>
        </div>
        <div class="card-body d-flex justify-content-center flex-wrap">
            <a asp-action="Edit" asp-route-id="@User.GetCurrentUserId()" class="btn btn-outline-primary mx-2 my-1" role="button" aria-label="Editar Email"><i class="fa fa-envelope"></i> Editar Email</a>
            <a asp-action="EditPassword" asp-route-id="@User.GetCurrentUserId()" class="btn btn-outline-success mx-2 my-1" role="button" aria-label="Editar Senha"><i class="fa fa-lock"></i> Editar Senha</a>
            <a asp-action="Delete" asp-route-id="@User.GetCurrentUserId()" class="btn btn-outline-danger mx-2 my-1" role="button" aria-label="Deletar Conta"><i class="fa fa-trash"></i> Deletar Conta</a>
        </div>
        <br />
    </div>
    <div class="text-center mt-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary" role="button" aria-label="Voltar"><i class="bi bi-arrow-left"></i> Voltar</a>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
