@using NinaSpeakV2.Api.Utils
@using NinaSpeakV2.Domain.Entities
@using NinaSpeakV2.Domain.ViewModels.ChatBotGenres
@using NinaSpeakV2.Domain.ViewModels.ChatBots
@model UpdateChatBotViewModel

@{
    ViewData["Title"] = "Edit";

    var chatBotGenres = ViewData[Constant.ViewDataChatBotGenres] as IEnumerable<ReadChatBotGenreViewModel> ?? Enumerable.Empty<ReadChatBotGenreViewModel>();
}

<h1>Editar</h1>

<h4>ChatBot</h4>
<hr />

@Html.Partial(Constant.PartialViewNameBaseErrors, ViewData[Constant.ViewDataBaseErrors] as IEnumerable<BaseError>)

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nome</label>
                <input asp-for="Name" value="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descrição</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChatBotGenreFk" class="control-label">Gênero</label>
                <select asp-for="ChatBotGenreFk" class="form-control">
                    @foreach (var genre in chatBotGenres!)
                    {
                        <option value="@genre.Id">@genre.Description</option>
                    }
                </select>
                <span asp-validation-for="ChatBotGenreFk" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}