@using NinaSpeakV2.Api.Utils
@using NinaSpeakV2.Domain.Models
@using NinaSpeakV2.Domain.ViewModels.ChatBotGenres
@using NinaSpeakV2.Domain.ViewModels.ChatBots
@model UpdateChatBotViewModel

@{
    ViewData["Title"] = "Edit";
    var chatBotGenres = ViewData[Constant.ViewDataChatBotGenres] as SelectList;
}

<h1 class="text-center my-4">Editar ChatBot</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
          @*<div class="text-end">
                <a asp-controller="UserInstitution" asp-action="Edit" asp-route-institutionId="@Model.Id" class="btn btn-primary">
                    <i class="fas fa-address-card"></i> Configurar Membros
                </a>
            </div>*@
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Informações do ChatBot</h4>
                </div>
                <div class="card-body">
                    @Html.Partial(Constant.PartialViewNameBaseErrors, ViewData[Constant.ViewDataBaseErrors] as IEnumerable<BaseError>)
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Nome <i class="fas fa-pencil-alt"></i></label>
                            <input asp-for="Name" value="@Model.Name" class="form-control" placeholder="Digite o nome da instituição" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Descrição <i class="fas fa-info-circle"></i></label>
                            <textarea asp-for="Description" class="form-control" placeholder="Digite a descrição da instituição"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ChatBotGenreFk" class="control-label">Gênero <i class="fa fa-genderless"></i></label>
                            <select asp-for="ChatBotGenreFk" class="form-control" asp-items="@chatBotGenres"></select>
                            <span asp-validation-for="ChatBotGenreFk" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group text-center">
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a asp-action="Index" class="btn-link">Voltar</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
