@using NinaSpeakV2.Domain.ViewModels.UsersInstitutions
@model ReadUserInstitutionViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Tem certeza que deseja sair ?</h1>

<div>
    <h4>Instituição: @Model.InstitutionName</h4>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserFk" />
        <input type="hidden" asp-for="InstitutionFk" />
        <a asp-controller="Institution" asp-action="Details" asp-route-id="@Model.InstitutionFk" class="btn btn-primary">
            Voltar
        </a>
        <input type="submit" value="Sair" class="btn btn-danger" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
