@using NinaSpeakV2.Domain.ViewModels.UsersInstitutions
@model UpdateUserInstitutionViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Usuário Instituição</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserFk" class="control-label">UserFk</label>
                <input asp-for="UserFk" class="form-control" />
                <span asp-validation-for="UserFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstitutionFk" class="control-label">InstitutionFk</label>
                <input asp-for="InstitutionFk" class="form-control" />
                <span asp-validation-for="InstitutionFk" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>