/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card-deck .card {
    margin: 1rem;
}

.card-deck {
    justify-content: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand i {
        margin-right: 0.5rem;
}

.navbar {
    background-color: #343a40;
}

.container {
    margin-top: 50px;
}

.table th, .table td {
    vertical-align: middle;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table img {
    max-width: 100%;
    height: auto;
}

.btn {
    margin-right: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-info:hover {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-secondary:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-danger:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-primary-index {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-group {
    display: flex;
    gap: 0.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e5e5e5;
}

@media (max-width: 768px) {
    .card-deck {
        flex-direction: column;
    }

    .card {
        margin-bottom: 1rem;
    }
}
