@using NinaSpeakV2.Api.Utils
@using NinaSpeakV2.Domain.Entities
@using NinaSpeakV2.Domain.ViewModels.ChatBotConversations
@using NinaSpeakV2.Domain.ViewModels.ChatBots
@model CreateChatBotConversationViewModel

@{
    ViewData["Title"] = "Create";

    var chatBots = ViewData[Constant.ViewDataChatBots] as IEnumerable<ReadChatBotViewModel> ?? Enumerable.Empty<ReadChatBotViewModel>();
}

<h1>Criar</h1>

<h4>ChatBot Conversação</h4>
<hr />

@Html.Partial(Constant.PartialViewNameBaseErrors, ViewData[Constant.ViewDataBaseErrors] as IEnumerable<BaseError>)

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChatBotFk" class="control-label">ChatBot</label>
                <select asp-for="ChatBotFk" class="form-control">
                    @foreach (var chatBot in chatBots!)
                    {
                        <option value="@chatBot.Id">@chatBot.Name</option>
                    }
                </select>
                <span asp-validation-for="ChatBotFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label">Mensagem</label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Response" class="control-label">Resposta</label>
                <textarea asp-for="Response" class="form-control"></textarea>
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}