@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h4>
    <a asp-action="Index" asp-controller="User">Usuário</a>
</h4> 

<br />

<h4>
    <a asp-action="Index" asp-controller="Institution">Instituição</a>
</h4>

<br />

<h4>
    <a asp-action="Index" asp-controller="UserInstitution">Usuário Instituições</a>
</h4>

<br />

<h4>
    <a asp-action="Index" asp-controller="ChatBot">ChatBot</a>
</h4>

<br />

<h4>
    <a asp-action="Index" asp-controller="ChatBotConversation">ChatBot Conversação</a>
</h4>